html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  padding: 0 10%;
}

.input-button {
  margin: 20px;
  padding: 10px 24px;
  cursor: pointer;
}

.canvas-container {
  box-sizing: border-box;
}

.main-canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.file-picker-container {
  display: flex;
  flex-direction: column;
}
